@using Microsoft.AspNet.Identity
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>
@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top: 20px">
    @if (ViewBag.Filter == "best")
    {
        <h2 id="filterheder">Лучшие инструкции</h2>
    }
    else if(ViewBag.Filter == "new")
    {
        <h2 id="filterheder">Свежие инструкции</h2>
    }
</div>
<div class="row">
    <div id="mainwrapper">
        @using (Ajax.BeginForm("InstructionList", new { filter = ViewBag.Filter }, new AjaxOptions { UpdateTargetId = "results", LoadingElementId = "loading" }, new {id="refreshForm"}))
        {
            <input type="submit" value="Обновить" style="display: none;" id="qwer" />
        }
        <div id="loading" style="display: none;">
            <img src="@Href("~/Content/default.gif")" style="display: table;margin: 0 auto;"/>
        </div>
        <div id="results"></div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $('#qwer').click();
        //$('#new').click(function () {
        //    console.log("query_new");
        //    $('#refreshForm').attr("action", "/Home/InstructionList?filter=new");
        //    $('#qwer').click();
        //    $('#filterheder').html('Новые инструкции');
        //});
        //$('#best').click(function () {
        //    console.log("query_best");
        //    $('#refreshForm').attr("action", "/Home/InstructionList?filter=best");
        //    $('#qwer').click();
        //    $('#filterheder').html('Лучшие инструкции');
        //});
    </script>
}