@using Coursework.Models
@model IEnumerable<Step>

    <ul class="sortable" id="steps">
        @foreach (Step step in Model)
        {
            <li class="ui-state-default image-link " style="width: 150px; height: 150px;">
                @using (Ajax.BeginForm("DeleteStep", new {id = step.Id}, new AjaxOptions {}, new { style = "display: inline-block;", @class="closeform"}))
                {
                    <button type="submit" value="" id="qwerty" onclick=" funcDelete() " style="border: none; background: none">
                        <span class="boxclose"></span>
                    </button>
                }
                <a href="#" class="thumbnail">
                    <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" style="width: 150px; height: 150px;" />
                </a>
                <strong><span class="index">@step.NumberOfStep</span>)@step.StepName</strong>
            </li>
        }
        <a href="#" class="button30" id="add" style="float: left; margin:50px">+</a>
    </ul>
    <script type="text/javascript">

        $(function () {

                $('.sortable').sortable({
                connectWith: "#sortable",
                stop: function (event, ui) {
                    $(".image-link").each(function (index, item) {
                        $(item).find(".index").html(index+1);
                    });
                },
                items: '> :not(.button30)'
            });
            $(".sortable").disableSelection();
        });
        $('#add').click(function () {
            $("#add").before('<li class="ui-state-default image-link ui-sortable-handle" style="width: 150px; height: 150px;">' +
                '<form action="/Home/DeleteStep/8" class="closeform" data-ajax="true" id="form4" method="post" style="display: inline-block;">' +
                '<button type="submit" value="" id="qwerty" onclick=" funcDelete() " style="border: none; background: none">'+
                '<span class="boxclose"></span></button>'+
                '</form>' +
                '<a href="#" class="thumbnail">' +
                '<img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" style="width: 150px; height: 150px;" />' +
                '</a>'+
                '<strong ><span class="index"></span>)Шаг</strong>' +
                '</li>');
             @*@using (Ajax.BeginForm("DeleteStep", new {id = step.Id}, new AjaxOptions {}, new { style = "display: inline-block;", @class="closeform"}))
                {
                    <button type="submit" value="" id="qwerty" onclick=" funcDelete() " style="border: none; background: none"><span class="boxclose"></span></button>
                }*@
                

            $(".image-link").each(function (index, item) {
                $(item).find(".index").html(index + 1);
            });
        });
    </script>
