@using Coursework.Models
@model IEnumerable<Step>

    <ul class="sortable" id="steps">
        @foreach (Step step in Model)
        {
            <li class="ui-state-default image-link" style="width: 150px; height: 150px;">
                @using (Ajax.BeginForm("DeleteStep", new {id = step.Id}, new AjaxOptions {}))
                {
                    <input type="submit" value="x" id="qwerty"class="boxclose" onclick=" funcDelete() "/>
                }
                <img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" style="width: 150px; height: 150px;" />
                @*@Html.ActionLink(" ", "DeleteStep", "Home", new { id = step.Id }, new { @class = "boxclose", id = "qwerty" })*@
                @*<fieldset>

                    <div class="display-label">
                        <b>Описание</b>
                    </div>
                    <div class="display-field">
                        @step.Description
                    </div>
                </fieldset>*@
                <strong ><span class="index">@step.NumberOfStep</span>)@step.StepName</strong>
            </li>
        }

        <a href="#" class="button30" id="add" style="float: left; margin:50px">+</a>
    </ul>
    <script type="text/javascript">

        $(function () {

                $('.sortable').sortable({
                connectWith: "#sortable",
                stop: function (event, ui) {
                    $(".image-link").each(function (index, item) {
                        $(item).find(".index").html(index+1);
                    });
                }
            });
            $(".sortable").disableSelection();
        });
        $('#add').click(function () {
            $("#add").before('<li class="ui-state-default image-link" style="width: 150px; height: 150px;">'+
                '    <input type="submit" value="x" id="qwerty"class="boxclose" onclick=" funcDelete() "/>' +
                '<img src="http://www.gemologyproject.com/wiki/images/5/5f/Placeholder.jpg" style="width: 150px; height: 150px;" />' +
                '<strong ><span class="index"></span>)Шаг</strong>' + 
                //'<a class="boxclose" id="boxclose"></a><fieldset><div class="display-label"><b>Описание</b></div>' +
                //'<div class="display-field">Сделай что-нибудь</div></fieldset>' +
                '</li>');
            $(".image-link").each(function (index, item) {
                $(item).find(".index").html(index + 1);
            });
        });
    </script>
