@model Coursework.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList" style="margin-top:10px;">
                <ul class="pe-social">
                    <li><button type="submit" class="pe-so-facebook pe-bg pe-lg " style="border:0" id="Facebook" name="provider" value="Facebook" title="Log in using your Facebook account"></button></li>
                    <li><button type="submit" class="pe-so-twitter pe-bg pe-lg " style="border:0" id="Twitter" name="provider" value="Twitter" title="Log in using your Twitter account"></button></li>
                    <li><button type="submit" class="pe-so-vk pe-bg pe-lg " style="border:0" id="Vkontakte" name="provider" value="Vkontakte" title="Log in using your Vkontakte account"></button></li>
                </ul>
            </div>
        }
}
